{{ if .IsHome }}
{{ range .Site.Params.external}}
{{ $recent_num := .recent_num }}
{{ $url := .url }}

{{ with try (resources.GetRemote $url) }}
  {{ with .Err }}
    {{ errorf "%s" . }}
  {{ else with .Value }}
    {{ $feed := . | transform.Unmarshal }}
    {{ $channel := $feed.channel }}
    {{ $channelLink := $channel.link }}
    {{ if reflect.IsSlice $channelLink }}{{ $channelLink = index $channelLink 0 }}{{ end }}
	<div class="widget-external widget">
		<h4 class="widget__title"><a href="{{ $channelLink | safeURL }}">{{ $channel.title }}</a></h4>
		<div class="widget__content">
			<ul class="widget__list">
				{{- range first $recent_num $channel.item }}
				<li class="widget__item"><a class="widget__link" href="{{ .link }}">{{ .title }}</a></li>
				{{- end }}
			</ul>
		</div>
	</div>
  {{ else }}
    {{ errorf "Unable to get remote resource %q" $url }}
  {{ end }}
{{ end }}
{{ end }}
{{ end }}