.post__content figure img {
    max-height: 400px;
    max-width: 300px;
}

.post__content figure {
    float: right;
    margin: 8px;
}

.post__content figcaption h4 {
    text-align: right;
}

.post__warning a, .post__warning a:hover {
    color: white;
}

.infobox__content + .post__warning {
    text-align: right;
}

.pager {
    flex-wrap: wrap;
}

.pager__related {
    margin-top: 16px;
    max-width: 99%;
    flex: 1 1 100%;
}

.pager__related li {
    list-style: none;
}

.widget-series ol {
    padding-left: 16px;
}

.widget-series ol li {
    display: list-item;
    list-style-type: decimal;
    padding-bottom: 6px;
}

.review {
    float: right;
    margin-left: 16px;
}

.amazon {
    display: inline-block;
    width: 160px;
}

.amazon {
    margin: auto;
}

.amazon a img {
    width: 144px
}

.review a.btn, .amazon a.btn {
    display: inline-block;
    margin: 0 4px 8px 0;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #FFE082;
    color: black;
    width: 100%;
    text-align: center;
}

.rating {
    font-size: 30px;
    color: #FFC107;
}

blockquote {
    font-style: italic;
}

.future {
    font-style: italic;
    display: none;
}

.future.confirmed {
    display: inline;
}

@media screen and (min-width: 767px) {
    .menu__item.menu__divider {
        margin-left: auto;
        border: none;
    }
    .menu__item.menu__other {
        border-left: none;
        border-right: 1px solid rgba(255, 255, 255, .1);
    }
    .menu__item.menu__other:last-child {
        border: none;
    }
}

.search main > *, .search .pagination, .search .comments {
    display: none;
}

.search__header {
    margin-bottom: 1.25rem;
}

.search main > .search__result, .search .search__header, .search .search__empty  {
    display: block;
}

.search_wrapper {
    padding: 25px;
}
.search_wrapper input {
    width: 400px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 8px;
    column-gap: 8px;
}

.post__content .gallery figure {
    float: none;    
}

.gallery img {
    max-width: 300px;
}

@media screen and (max-width: 900px)
{
    .search_wrapper {
        padding: 0px 20px 20px 20px;
        width: 100%;
    }
    .search_wrapper input {
        width: 100%;
    }
}