.post__content figure img {
    max-height: 400px;
    max-width: 300px;
}

.post__content figure {
    float: right;
    margin: 0 0 8px 8px;
}

.post__content figcaption h4 {
    text-align: right;
}

.post__warning a, .post__warning a:hover {
    color: white;
}

.post__warning a:hover {
    text-decoration: underline;
}

.infobox__content + .post__warning {
    text-align: right;
}

.pager {
    flex-wrap: wrap;
}

.pager__related {
    margin-top: 16px;
    max-width: 99%;
    flex: 1 1 100%;
}

.pager__related li {
    list-style: none;
}

.widget-series ol {
    padding-left: 24px;
}

.widget-series ol li {
    display: list-item;
    list-style-type: decimal;
    padding-bottom: 6px;
}

.review {
    float: right;
    margin-left: 16px;
    width: 161px;
}

.amazon {
    display: inline-block;
}

.amazon {
    margin: auto;
    text-align: center;
    vertical-align: top;
}

.amazon a img {
    height: 220px;
}

.review a.btn, .amazon a.btn {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    color: black;
    margin-bottom: 2px;
    width: 100%;
    text-align: center;
    background-color: #FFE082;
}

.amazon_links a.btn, .audible_links a.btn {
    display: block;
    margin: 2px;
    font-size: 12px;
    text-transform: uppercase;
    color: black;
    width: calc(100% - 4px);
    text-align: center;
    background-color: #FFE082;
}

.amazon_links h4, .audible_links h4, .amazon h4 {
    font-size: 14px;
    margin: 8px;
    text-align: center;
}

.audible_links, .amazon_links {
    margin-bottom: 16px;
}

.amazon_links .flag_holder, .audible_links .flag_holder {
    display: block;
    margin: 2px;
    margin-top: -2px;
    text-align: center;
    background-color: #FFE082;
    width: calc(100% - 4px);
}

.amazon .flag_holder, .audible .flag_holder {
    display: block;
    margin-top: -2px;
    margin-bottom: 4px;
    text-align: center;
    background-color: #FFE082;
}

.audible_links a.btn, .audible_links .flag_holder {
    background-color: #FFA000;
}

.flag_holder .flag img {
    height: 16px;
    display: inline;
    vertical-align: top;
    width: initial;
}

.rating {
    font-size: 30px;
    color: #90A4AE;
    width: 160px;
    text-align: center;
    margin-top: 16px;
}

blockquote {
    font-style: italic;
}

.future {
    font-style: italic;
    display: none;
}

.future.confirmed {
    display: inline;
}

.main__searchlink {
	float: right;
	padding-top: 4px;
}
.main__searchlink a {
	font-weight: 700;
}

@media screen and (min-width: 767px) {
    .menu__item.menu__divider {
        margin-left: auto;
        border: none;
    }
    .menu__item.menu__other {
        border-left: none;
        border-right: 1px solid rgba(255, 255, 255, .1);
    }
    .menu__item.menu__other:last-child {
        border: none;
    }
}

.search main > *, .search .pagination, .search .comments {
    display: none;
}

.search__header {
    margin-bottom: 1.25rem;
}

.search main > .search__result, .search .search__header, .search .search__empty  {
    display: block;
}

.search_wrapper {
    padding: 25px;
}
.search_wrapper input {
    width: 400px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 8px;
    column-gap: 8px;
}

.post__content .gallery figure {
    float: none;
}

.gallery img {
    max-width: 300px;
}

.content table {
	font-size: 0.8rem;
}

.content td {
	padding: 2px 6px;
}

.content th {
	padding: 2px 12px 2px 6px;
}

.content thead {
	border-bottom: 2px solid #ebebeb;
}

.content table, .content tr, .content th, .content td {
	border: none;
}

.content tbody tr:nth-child(even) {
	background-color: #f5f5f5;
}

.list__item {
	border-bottom: 3px solid #ebebeb;
}

.content dt, .content dd {
	display: block;
}

.content dl {
	margin-left: 0px;
}

.content dd {
	margin-bottom: 20px;
}

.post__series {
	padding: 0 0 5px 15px;
	margin-top: 10px;
	border-left: 5px solid #ebebeb;
}

.post__series p {
	margin: 0;
	font-style: italic;
}

.post__series .title {
	font-weight: 700;
}

.post__series li {
	display: inline;
	padding-right: 0.75em;
	white-space: nowrap;
}

.post__series ol {
	counter-reset: LIST-ITEMS 0
}

.post__series li:before
{
  content: counter( LIST-ITEMS ) ".";
  counter-increment: LIST-ITEMS;
  padding-right: 0.25em;
  font-weight: bold;
}

.post__series a {
    font-weight: 700;
}

.post__series a:hover {
	text-decoration: underline;
}

details {
	margin-bottom: .5rem;
}

details[open] {
	margin-bottom: 1.25rem;
}

details[open] > summary {
	margin-bottom: 1.25rem;
}

summary {
	font-weight: 700;
}

summary:hover {
	text-decoration: underline;
}

p + details {
	margin-top: -1rem;
}

table.sortable th {
	cursor: pointer;
	white-space: nowrap;
}

table.sortable th::before {
    content: '\25b8';
    margin-right: 4px;
	transition: 0.25s linear;
	display: inline-block;
	margin-left: -12.5px;
}

table.sortable th.dir-u::before {
    transform: rotate(-90deg);
}

table.sortable th.dir-d::before {
    transform: rotate(90deg);
}

.content h1 {
	font-size: 20px;
	font-size: 1.25rem;
}

.content h2 {
	font-size: 18px;
	font-size: 1.125rem;
}

.content h3, .content h4, .content h5, .content h6 {
	font-size: 16px;
	font-size: 1rem;
}

mjx-container {
    margin: 1.25rem;
}

mjx-container + br {
	display: none;
}

mjx-container {
	display: block;
}

mjx-container::after {
	display: block;
	height: 0;
	padding: 0;
	margin: 0;
	clear: both;
	line-height: 0;
	visibility: hidden;
	content: "";
}

@media screen and (max-width: 900px)
{
    .search_wrapper {
        padding: 0px 20px 20px 20px;
        width: 100%;
    }
    .search_wrapper input {
        width: 100%;
    }

	.content table {
		display: block;
		overflow-x: auto;
	}

	table.sortable th::before {
		margin-left: 0;
	}

	.post__series li {
		display: inline;
		padding-right: 0.75em;
		white-space: normal;
	}

	.post__content figure img {
		max-width: 200px;
	}
}
