{{ define "main" }}
<main class="main list archive" role="main">
	<h1>Archive</h1>
	{{ range (where .Site.RegularPages "Type" "in" .Site.Params.mainSections).GroupByDate "2006" "asc" }}
	<h2><a name="{{ (index .Pages 0).Date.Format "2006" }}">{{ .Key }}</a></h2>
	<div class="columns">
	{{ range .Pages.GroupByDate "January" "asc" }}
	<h3><a name="{{ (index .Pages 0).Date.Format "2006/01" }}">{{ .Key }}</a></h2>
		<ul>
		{{ range .Pages }}
    		<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
		{{ end }}
		</ul>
  	{{ end }}
	</div>
	{{ end }}
</main>
<script>
	let path = window.location.pathname.trim('/');
	if (path.startsWith('2')) {
		window.location.hash = path;
	}
</script>
{{ end }}