<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Review",
      "additionalType": "BlogPosting",
      "mainEntityOfPage": {{ .Permalink }},
      "url": {{ .Permalink }},
      "headline": "{{ .Title }}",
      "datePublished": "{{ .Date.Format "20060102T15:04"}}",
      "dateModified": "{{ .Date.Format "20060102T15:04"}}",
      "description": "{{ .Params.review.summary }}",
      "publisher": {
        "@type": "Person",
        "name": "Oliver Brown",
        "url": "https://www.oliverbrown.me.uk"
      },
      "author": {
        "@type": "Person",
        "name": "Oliver Brown",
        "url": "https://www.oliverbrown.me.uk"
      },
      {{ if isset .Params "image_url" }}
      "image": {{ .Params.image_url | absURL }},
      {{ else }}
      "image": {{ "/logo.png" | absURL }},
      {{ end }}
      {{ if isset .Params "video_url" }}
      "video": {{ .Params.video_url | absURL }},
      {{ end }}
      "itemReviewed": {
          "@type": "Book",
          "name": "{{ .Params.review.name}}",
          "url": "https://www.amazon.co.uk/dp/{{ .Params.review.primary_asin }}/ref=nosim?tag=oliverbrown02-20",
          "description": "{{ .Params.review.product_description }}",
          "isbn": "{{ .Params.review.isbn }}",
          "author": "{{ .Params.review.author }}",
          "offers": [{
              "@type": "Offer",
              "url": "https://www.amazon.co.uk/dp/{{ .Params.review.primary_asin }}/ref=nosim?tag=oliverbrown02-20"
          }]
      },
      "reviewRating": {
          "@type": "Rating",
          "ratingValue": "{{ .Params.review.rating }}"
      },
      "reviewBody": {{ .Plain | safeJS | htmlUnescape | plainify }}
    }
</script>
