{{ with .Params.review.additional_amazon_links }}
{{ range . }}
<div class="amazon">
    <a target="_blank" href="https://www.amazon.com/dp/{{ .asin }}/ref=nosim?tag=oliverbrown-20"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN={{ .asin }}&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=oliverbrown-20" ></a>
    <h4>Buy it on Amazon</h4>
    <a class="btn" target="_blank" href="https://www.amazon.com/dp/{{ .asin }}/ref=nosim?tag=oliverbrown-20">{{ .title }}</a>
    {{ if isset . "gb_asin" }}
    <div class="flag_holder">
        <a class="flag" target="_blank" href="https://www.amazon.com/dp/{{ .asin }}/ref=nosim?tag=oliverbrown-20"><img src="/img/us.svg" /></a>  
        <a class="flag" target="_blank" href="https://www.amazon.co.uk/dp/{{ .gb_asin }}/ref=nosim?tag=oliverbrown-21"><img src="/img/gb.svg" /></a>  
    </div>
    {{ end}}

</div>
{{ end }}
{{ end }}