{{- .Scratch.Set "copyrightYear" (now.Format "2006") -}}
{{- if and (isset .Site.Params "copyrightstartyear") (ne (.Scratch.Get "copyrightYear") .Site.Params.copyrightstartyear) -}}
{{- .Scratch.Set "copyrightYear" (printf "%s–%s" .Site.Params.copyrightstartyear (.Scratch.Get "copyrightYear")) -}}
{{- end -}}
<footer class="footer">
	<div class="container footer__container flex">
		{{ partial "footer_links.html" . }}
		<div class="footer__copyright">
			&copy; {{ .Scratch.Get "copyrightYear" }} {{ .Site.Params.copyright | default .Site.Title }}.
			<span class="footer__copyright-credits">Any opinions are my own.</span>
			<span class="footer__copyright-credits">{{ T "footer_credits" | safeHTML }}</span>
			<span class="footer__copyright-credits">Uses <a href="https://github.com/tofsjonas/sortable">Sortable</a>.</span>
		</div>
	</div>
</footer>